.footer {
  background-color: teal !important;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.icon {
  color: white;
  font-size: 28px;  /* medium size */
  transition: color 0.3s ease;
}

.icon:hover {
  color: lightblue;
  cursor: pointer;
}
